
.grid{
	position: relative;
}

.tile{
	height: 128px;
	width: 128px;
	position: absolute;
	text-align: center;
	border: 5px solid brown;
}

.name{
	font-size: 36px;
	font-weight:bold;
	color: white;
	transform: translateY(80%);
}

