


.game-info-container{
	display: block;
	height: 70px;
	background-color: gray;
	margin: 0 0 20px 0;
	width: 600px;
}

.section{
	text-align: center;
	color: #DDD;
	display: inline-block;
	margin: 0 auto;
	width: 30%;
	transform: translateY(40%);
}

#score, #moves, #time{
	color: white;
	font-weight: bold;
	font-size: 36px;
	display: inline;
}

.container{
	display: block;
	top: 0px;
}

.title-numbers-container{
	display: block;
}

.grid-container, .controls{
	display: block;
}


.title-numbers{
	width:80px;
	height: 80px;
	display: inline;
}

/*
.grid-container{
	width: 60%;
}

.controls{
	width: 40%;
}
*/

#grid{
	position: relative;
}

.tile{
	height: 128px;
	width: 128px;
	position: absolute;
	text-align: center;
	border: 5px solid brown;
}

.name{
	font-size: 36px;
	font-weight:bold;
	color: white;
	transform: translateY(80%);
}

