

.title-container{
	width: 600px;
}

.title-numbers-container{
	display: block;
	margin: 0 auto;
	text-align: center;
}

.game-info-container{
	display: block;
	height: 70px;
	background-color: gray;
	margin: 0 0 20px 0;
	width: 600px;
}

.game-info-section{
	text-align: center;
	color: #DDD;
	display: inline-block;
	margin: 0 auto;
	width: 23%;
	transform: translateY(40%);
}

.analytics-container{
	display: block;
	height: 70px;
	background-color: gray;
	margin: 0 0 20px 0;
	width: 600px;
}


.analytics-section{
	text-align: center;
	color: #DDD;
	display: inline-block;
	margin: 0 auto;
	width: 30%;
	transform: translateY(40%);
}

.game-info-section div, .analytics-section div{
	color: white;
	font-weight: bold;
	font-size: 36px;
	display: inline;
}

.container{
	display: block;
	top: 0px;
}

.controls-grid{
	width: 600px;
}

.controls{
	margin: 0 auto;
	text-align: center;
}

.buffer{
	height:30px;
}

.grid-container{
	display: block;
}


.title-numbers{
	width:80px;
	height: 80px;
	display: inline;
}


#grid{
	position: relative;
}

.tile{
	height: 128px;
	width: 128px;
	position: absolute;
	text-align: center;
	border: 5px solid brown;
}

.name{
	font-size: 36px;
	font-weight:bold;
	color: white;
	transform: translateY(80%);
}

